*{
	font-family: Arial, Helvetica, sans-serif;
}	

input, textarea, button {
   font-family: inherit;
   font-size: inherit;
}

body {
  padding: 75px;
}

h1 {
    display: inline-block;
}

.roundborder {
  border: 2px solid red;
  border-radius: 5px;
}

table, td, th {  
  border: 1px solid #ddd;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 15px;
}

button {
  background-color: #0066cc;
  color: white;
  padding: 10px 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
}

button:hover {
  filter: brightness(0.5);
}

a:hover {
  filter: brightness(0.5);
}

a:link, a:visited {
  background-color: #0066cc;
  color: white;
  padding: 10px 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: 2px grey;
  border-radius: 4px;
  border-style:outset;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  margin: 8px 0px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}
.right {
  text-align: right;
}

